.answer {
  list-style: none;
  background-color: none;
  width: 100%;
  padding: 1rem;
  border-radius: 3rem;
  border: 1px solid grey;
  margin: 0.5rem 0;
  font-weight: bold;
}

.correct.answer {
  background-color: rgb(16, 201, 99);
  color: white;
}

.incorrect.answer {
  background-color: rgb(250, 102, 114);
  color: white;
}
